/* Layla Saunders, 22/02/2026 */
/* © wtfpl (www.wtfpl.net) */

/* variables */

:root {
  --background: #F3CEFF;
  --text1: #000;
  --text2: #FFF;
  --greenl: rgb(0, 255, 0);
  --greend: rgb(0, 255, 0);
  --redl: rgb(255, 0, 0);
  --redd: rgb(255, 0, 0);
}

/* main styles */
body {
    font-family: -apple-system, BlinkMacSystemFont, "SF Pro Display", sans-serif;
    background-color: var(--background);
}

main {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}

.banner {
    background-color: orange;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 1px;
    padding-bottom: 1px;
}

/* phone */

.green {
    color: var(--greend);
}

.red {
    color: var(--redd);
}

.active {
    color: var(--greend)
}

.inactive {
    color: var(--redd);
}

.phone-container {
  position: relative;
  min-height: 650px;
}

.phone-container .phone {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.phone {
    max-width: 300px;
}

.social-link {
    width: 65px;
    position: absolute;
}

.social-text {
    position: absolute;
    font-size: 8px;
    font-weight: 600;
    margin-top: 62px;
    text-align: center;
}

.social-text.active.l {
    font-size: 8px;
    font-weight: 600;
    text-align: center;
    animation: greenWavel 3s infinite;
}

.social-text.active.d {
    font-size: 8px;
    font-weight: 600;
    text-align: center;
    animation: greenWaved 3s infinite;
}

.social-text.inactive.l {
    font-size: 8px;
    font-weight: 600;
    text-align: center;
    animation: redWavel 3s infinite;
}

.social-text.inactive.d {
    font-size: 8px;
    font-weight: 600;
    text-align: center;
    animation: redWaved 3s infinite;
}

@keyframes greenWavel {
    0%, 60%, 100% { color: var(--text2); }
    40% { color: var(--greenl); }
}

@keyframes greenWaved {
    0%, 60%, 100% { color: var(--text2); }
    40% { color: var(--greend); }
}

@keyframes redWavel {
    0%, 60%, 100% { color: var(--text2); }
    40% { color: var(--redl); }
}

@keyframes redWaved {
    0%, 60%, 100% { color: var(--text2); }
    40% { color: var(--redd); }
}

.d {
    color: var(--text1);
}

.l {
    color: var(--text2);
}

.c1 {
    left: 24px;
}

.c2 {
    left: 86px;
}

.c3 {
    left: 148px;
}

.c4 {
    left: 210px;
}

.r1 {
    top: 94px;
}

.r2 {
    top: 166px;
}

.r3 {
    top: 238px;
}

.r4 {
    top: 310px;
}

.r5 {
    top: 382px;
}

.r6 {
    top: 462px;
}

/* horizontal scroll */

.icon-scroll {
  overflow: hidden;
  width: 100%;
  position: relative;
}

.icon-track {
  display: flex;
  gap: 10px;
  width: max-content;
  animation: scroll 20s linear infinite;
  will-change: transform;
}

.icon-track img {
  display: block;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

/* end */